.title {
    text-align: center;
    margin-bottom: 40px;
}

.table {
    text-align: center;
}

.table-title-header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.table-content {
    background-color: #aaa;
}

.table-content {
    width: 100%;
    outline: none;
    border: none;
}

.table-button {
    text-align: center;
    padding: 50px;
}

.table-button_submit {
        color: white;
    background: black;
    font-size: 15px;
    width: 200px;
    height: 45px;
    cursor: pointer;
}