.content {
    max-width: 1230px;
}

.form-title-con {
    text-align: center;
}

.form {
    margin: 0 auto;
    text-align: center;
}

.form-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-email_create input,

.form-button {
    text-align: center;
    padding: 50px;
}

.form-button_create {
    color: white;
    background: black;
    font-size: 15px;
    width: 200px;
    height: 45px;
    cursor: pointer;
}