.content {
    max-width: 1230px;
}

.form {
    display: inline;
}

.form-content {
    display: flex;
    justify-content: space-between;
}

.form-button {
}

.form-button_create {
    color: white;
    background: black;
}